<div style="text-align: center;width: 100%" *ngIf="message.length>0">
  <app-hourglass [message]="message" style="marging-top:50px;"></app-hourglass>
  <br>
  <img src="./assets/loading.gif" style="width: 60%;max-width: 500px;">
  <br><br>
  <button mat-raised-button
          *ngIf="message!='' && device.isMobile()"
          (click)="open_xportal()">
    Basculer sur xPortal
  </button>
</div>

<div class="mainform" *ngIf="message.length==0">
  <app-wallet [network]="user.network"
              [address]="user.address"
              message="Select a coin to load in your tokemon"
              [selected]="true"
              show="coin"
              *ngIf="!coin"
              (onCancel)="quit()"
              (selectChanged)="sel_coin($event)">
  </app-wallet>

  <br>


  <br>

  <app-input [value]="amount" [value_type]="type_control"
             [style.width]="type_control=='number' ? '250px' : '80%'"
             style="display: inline-block;margin:10%;"
             *ngIf="coin"
             [unity]="coin.name"
             [min]="0" [max]="coin.balance/1e18"
             label="Amount to load in tokemon"
             (valueChange)="amount=$event"></app-input>

  <br>
  <div *ngIf="coin">
    <button mat-raised-button (click)="cancel()">Cancel</button>
    <button mat-raised-button (click)="send()">Send</button>
  </div>

</div>
