
button {
  margin: 10px;
  width: 150px
}

.multiversx-button {
  background-color: #44f8e2;
}

.multiversx-text {
  font-size: small;
  color: #44f8e2;
}

.multiverx-background {
  background-color: #343a40;
  padding: 20px;
}

mat-expansion-panel-header {
  text-align: left;
  line-height: 85%;
}

button {
  line-height: 85%;
}


.polygon-button {
  background-color: #8044df;
}

.polygon-text {
  color: #8044df;
}

.polygon-background {
  background-color: #414141;
  padding: 20px;
}


