<div class="mainform" style="text-align: center;font-size: medium;" *ngIf="item">
  <div *ngIf="message.length>0">
    <br>
    <app-hourglass [message]="message"></app-hourglass>
    <br>
    <img *ngIf="pv_to_engage>0 && !device.isMobile()"
         src="./assets/fight2.gif"
         style="width:60%;margin-top: 40px;max-width: 400px;">
    <br>
    <br>
    <button mat-raised-button
            *ngIf="device.isMobile()"
            (click)="open_xportal()">
      Valider sur xPortal
    </button>

  </div>

  <div *ngIf="message.length==0">
    <h3>{{label}} this tokemon ?</h3>
    <app-tokemon [label_pv]="lang_pv"
                 [item]="item"
                 [bags]="bags"
                 [network]="user.network">
    </app-tokemon>

    <br>
    <br>

    <div *ngIf="item.pv>0 && item.owner!=user.idx && user.tokens[user.pv_token]">
      You have {{user.tokens[user.pv_token].balance / 1e18 | number:"1.0-3"}} HP<br>
      <app-input
        value_type="slider" [value]="pv_to_engage"
        (valueChange)="update_value($event)"
        style="width:300px;display: inline-block;"
        [unity]="lang_pv"
        [min]="0" [max]="max_engagment"
        [label]="lang_pv+' to engage'">
      </app-input>


      <br>
      <h4 *ngIf="pv_to_engage==0">No chance to win</h4>
      <h4 *ngIf="pv_to_engage>0">You have {{chance_to_win}}% chance of winning</h4>

    </div>
      <button mat-raised-button *ngIf="item.owner==user.idx"
              title="Add HP to this tokemon"
              (click)="refund(true)">Revitalize</button>

      <button mat-raised-button *ngIf="item.owner==user.idx"
              title="Add coin to the bag"
              (click)="refund(false)">Loading</button>

      <button mat-raised-button
              title="Remove the tokemon and transfer the NFT, the HP and the bag to your wallet"
              (click)="on_capture()">
        {{label}}
      </button>

      <button mat-raised-button
              title="Return to the previous screen"
              (click)="cancel()">Cancel</button>
  </div>

</div>
