<div class="mainform" style="text-align: center;">
  <app-hourglass [message]="message"></app-hourglass>
  <br>
  <div *ngIf="message.length==0">
    <h5>Capture this tokemon ?</h5>
    <app-tokemon [item]="item" [network]="user.network"></app-tokemon>
    <br>
    <app-input  *ngIf="item.pv>0"
                value_type="slider" [value]="pv_to_engage" (valueChange)="update_value($event)"
                style="width:300px;display: inline-block;" unity="PV"
                [min]="0" [max]="max_engagment" label="Life Point to engage"></app-input>
    <br>
    <br>
    Chance to win {{chance_to_win | number:"1.1-3"}}
    <br>
    <br>

    <button mat-raised-button (click)="on_capture()">Capture</button>
    <button mat-raised-button (click)="cancel()">Cancel</button>

  </div>

</div>
