<div class="mainform" style="text-align: center;font-size: medium;" *ngIf="item">
  <div *ngIf="message.length>0">
    <app-hourglass [message]="message"></app-hourglass>
    <br>
    <button mat-raised-button
            *ngIf="device.isMobile()"
            (click)="open_xportal()">
      Basculer sur xPortal
    </button>
    <br>
    <img *ngIf="pv_to_engage>0"
         src="./assets/fight1.gif"
         style="width:200px;height:200px;margin-top: 40px;">
  </div>

  <div *ngIf="message.length==0">
    <h3>{{label}} this tokemon ?</h3>
    <app-tokemon [label_pv]="lang_pv"
                 [item]="item"
                 [network]="user.network">
    </app-tokemon>
    <br>


    <app-input  *ngIf="item.pv>0 && item.owner!=user.idx"
                value_type="slider" [value]="pv_to_engage"
                (valueChange)="update_value($event)"
                style="width:300px;display: inline-block;"
                [unity]="lang_pv"
                [min]="0" [max]="max_engagment"
                [label]="lang_pv+' to engage'">
    </app-input>

    <br>
    <br>
    <div *ngIf="item.pv>0 && item.owner!=user.idx">
      <div *ngIf="pv_to_engage==0">No chance to win</div>
      <div *ngIf="pv_to_engage>0">{{chance_to_win}}% chance of winning</div>
    </div>

    <br>
    <br>

    <button mat-raised-button *ngIf="item.owner==user.idx"
            (click)="refund(true)">Revitalize</button>

    <button mat-raised-button *ngIf="item.owner==user.idx"
            (click)="refund(false)">Loading</button>

    <button mat-raised-button (click)="on_capture()">
      {{label}}
    </button>

    &nbsp;
    <button mat-raised-button (click)="cancel()">Cancel</button>

  </div>

</div>
