<div class="mainform" style="text-align: center;padding: 5px;">

  <div *ngIf="message.length>0">
    <app-hourglass [message]="message"></app-hourglass><br>
    <br>
    <img src="./assets/dropping.gif" style="width: 300px;">
    <br><br><br>
    <button mat-raised-button
            *ngIf="message!='' && device.isMobile()"
            (click)="open_xportal()">
      Basculer sur xPortal
    </button>

  </div>



  <div *ngIf="sel_nft && message.length==0" class="zone_input" >

    <app-input value_type="text"
               label="Tokemon's name" help="Min length of 3 characters"
               (valueChange)="name=$event" [value]="name"></app-input>

    <button mat-raised-button
            (click)="drop()"
            title="Drop here">Drop !</button>

    <button mat-raised-button
            (click)="sel_nft=null"
            title="Cancel">Cancel</button>


  </div>

  <br>

  <mat-slide-toggle *ngIf="sel_nft && message.length==0 && (!user.game!.geoloc_to_drop || user.game!.owner==user.idx)" (toggleChange)="diffusion=0;"
                    style="margin-bottom: 5px;"
                    [(ngModel)]="random_location">Everywhere in the game aera</mat-slide-toggle>

  <br>
  <div class="map_style" [style.display]="random_location || !sel_nft || message.length>0 ? 'none' : 'inline-block'">
    <div id="map" style="position: absolute;left:0;top:0;right: 0;bottom:0;z-index: 0;"></div>
    <div class="disk" [style.width]="user.visibility*ech+'px'"
         [style.height]="user.visibility*ech+'px'"
         [style.margin-top]="-user.visibility*ech/2+'px'"
         [style.margin-left]="-user.visibility*ech/2+'px'" >
    </div>
  </div>

  <div *ngIf="message==''">
    <app-wallet [user]="user"
                show="nft"
                [nft_builder]="settings.nft_builder"
                *ngIf="!sel_nft" message="Select a NFT to create a tokemon"
                (listChanged)="update_nfts($event)"
                (selectChanged)="on_select($event)">
    </app-wallet>
    <br>

    <div class="zone_input" *ngIf="sel_nft">

      <app-input *ngIf="max_quantity>1" value_type="slide" [min]="1" [max]="max_quantity"
                 label="Number to drop" unity="NFT"
                 (focusout)="update_occurence()" style="width:80%;max-width: 400px;"
                 (valueChange)="quantity=$event" [value]="quantity"></app-input>

      <br>
      <app-input value_type="number" *ngIf="user.game && user.game.user_visibility"
                 [min]="user.game!.min_visibility" [max]="user.game!.max_visibility"
                 label="Visibility" unity="meters"
                 [help]="'From '+user.game.min_visibility/environment.scale_factor+' to '+user.game.max_visibility/environment.scale_factor"
                 (focusout)="check_visibility()"
                 (valueChange)="this.visibility=$event" [value]="visibility"></app-input>


      <app-input *ngIf="quantity>1 && !random_location" value_type="number"
                 label="Distance around target" unity="meters"
                 (focusout)="update_distance()"
                 (valueChange)="diffusion=$event" [value]="diffusion"></app-input>

      <app-input value_type="number" [min]="0" [max]="max_pv_loading"
                 *ngIf="max_pv_loading>0" [help]="'From 0 to '+max_pv_loading"
                 label="Vitality to inject" unity="PV"
                 (valueChange)="lifepoint=$event" [value]="lifepoint"></app-input>


    </div>

    <br><br><br>
    <app-upload-file extensions=".csv"
                     style="display: none"
                     title="Charger un ficher excel"
                     width="100%"
                     height="60px"
                     (uploaded)="upload_excel($event)">
      Drop en masse
    </app-upload-file>



  </div>


</div>
