<div class="mainform" style="text-align: center;padding: 5px;">
  <app-hourglass [message]="message"></app-hourglass><br>
  <button mat-raised-button
          *ngIf="message!='' && device.isMobile()"
          (click)="open_xportal()">
    Basculer sur xPortal
  </button>

  <app-input value_type="text" *ngIf="sel_nft && message.length==0"
             label="Tokemon's name" class="zone_input"
             (valueChange)="name=$event" [value]="name"></app-input>
  <br>


  <div class="map_style" [style.display]="!sel_nft || message.length>0 ? 'none' : 'inline-block'">
    <div id="map" style="position: absolute;left:0;top:0;right: 0;bottom:0;z-index: 0;"></div>
    <div class="disk" [style.width]="user.visibility*ech+'px'"
         [style.height]="user.visibility*ech+'px'"
         [style.margin-top]="-user.visibility*ech/2+'px'"
         [style.margin-left]="-user.visibility*ech/2+'px'" >
    </div>
  </div>


  <div *ngIf="message==''">
    <app-wallet [address]="user.address"
                show="nft"
                *ngIf="!sel_nft" message="Select a NFT to create a tokemon"
                [network]="user.network"
                (listChanged)="update_nfts($event)"
                (selectChanged)="on_select($event)">
    </app-wallet>

    <div class="zone_input" *ngIf="sel_nft">
      <app-input value_type="number" [min]="user.game!.min_visibility" [max]="user.game!.max_visibility"
                 label="Visibility" unity="meters"
                 (valueChange)="user.visibility=$event" [value]="user.visibility"></app-input>
      <br>

      <app-input *ngIf="max_quantity>1" value_type="number" [min]="1" [max]="max_quantity"
                 label="Number to drop" unity="NFT"
                 (valueChange)="quantity=$event" [value]="quantity"></app-input>
      <br>

      <app-input value_type="slide" [min]="0" [max]="max_pv_loading"
                 *ngIf="max_pv_loading>0"
                 label="Vitality to inject" unity="PV"
                 (valueChange)="lifepoint=$event" [value]="lifepoint"></app-input>
      <br>

      <mat-slide-toggle [(ngModel)]="random_location">Random location</mat-slide-toggle>

      <br><br>
      <button mat-raised-button
              (click)="drop()"
              title="Drop here">Drop !</button>

      <button mat-raised-button
              (click)="sel_nft=null"
              title="Cancel">Cancel</button>
    </div>

    <br><br><br>
    <app-upload-file extensions=".csv"
                     style="display: none"
                     title="Charger un ficher excel"
                     width="100%"
                     height="60px"
                     (uploaded)="upload_excel($event)">
      Drop en masse
    </app-upload-file>



  </div>


</div>
