

.target {
  position:fixed;
  display: block;
  z-index: 100;
  left:50%;
  top: 50%;
  width:40px;
  margin-top:-20px;
  margin-left:-20px;
}

.icon-button {
  cursor:pointer;
  margin:5px;
  padding: 5px;
  margin-bottom:-12px;
  background-color:black;
  font-size:x-large;
  color:#0becc1;
}


.toolbox {
  display: inline-block;
  text-align:right;
  opacity:1;
  color: black;
  width:fit-content;
  max-width:600px;
  z-index: 1000;
  background: none;
  font-weight: bolder;
}

button {
  margin: 10px;
  width: 120px;
  font-size: small;
}

.button-map {
  z-index:100;
  left:0;
  display: block;
  position: absolute;
}

.image-map {
  display: block;
  position: absolute;
  left:0;
  top:0;
  z-index: 1;
}

.image-container {
  position: absolute;
  left:0;top:0;right:0;bottom:0;
  z-index: 0;
}


