<div id="map" [style.display]="user.game && user.game.url=='map' ? 'block' : 'none'"
     style="position: absolute;left:0;top:0;right:0;bottom:0;z-index: 0;">
</div>

<div class="image-container"
     *ngIf="message.length==0 && user.game && user.game.url!='map'">

  <mat-icon (click)="zoom_in()" class="button-map" style="top:0;">add_circle</mat-icon>
  <mat-icon (click)="zoom_out()" class="button-map"  style="top:20px;">remove_circle</mat-icon>

  <img class="image-map"
       [style.transform]="'translate(' + map_left + 'px, ' + map_top + 'px) scale(' + user.zoom + ')'"
       [src]="user.game.url">
</div>

<app-hourglass [message]="message"></app-hourglass>

<div style="position: fixed;left:0;top:0;height:40px;width: 100vw;text-align: center" *ngIf="message.length==0" [style.cursor]="message.length==0 ? 'pointer' : 'hourglass'">
  <div class="toolbox" *ngIf="user">
    <!--    <mat-slide-toggle [(ngModel)]="user.show_visibility" (ngModelChange)="update_visibility()">Visibility</mat-slide-toggle>-->

    <button mat-raised-button *ngIf="!start_move"
            style="width: 100px;"
            title="Drop some NFT as tokemon on this game zone"
            (click)="open_drop()">
      <mat-icon>download</mat-icon>Drop
    </button>

    <mat-icon (click)="move_tokemon()"
              *ngIf="level(2) && ((selected_tokemon && selected_tokemon.owner==user.idx) || start_move)"
              title="Move" class="icon-button">
      run_circle
    </mat-icon>

    <div *ngIf="!start_move && !to_attack" style="display: inline-block;">
      <button mat-raised-button (click)="open_capture()"  title="Capture the tokemon"
              *ngIf="selected_tokemon"
              style="width: 100px;">
        <mat-icon>catching_pokemon</mat-icon>Catch
      </button>


      <mat-icon  (click)="rece  nter()"
                 title="center map on the game"
                 class="icon-button">
        pin_drop
      </mat-icon>

      <mat-icon  (click)="show_my_tokemon()"
                 *ngIf="level(2)"
                 title="show all my tokemon"
                 class="icon-button">
        visibility
      </mat-icon>


      <mat-icon  (click)="open_airdrop()"
                 title="Airdropr"
                 *ngIf="level(2)"
                 class="icon-button">
        paid
      </mat-icon>

      <mat-icon  (click)="user.preview=!user.preview;refresh();"
                 *ngIf="markers.length>0"
                 class="icon-button"
                 [style.opacity]="user.preview ? 1.0 : 0.4">image
      </mat-icon>

      <mat-icon (click)="show_help=!show_help"
                *ngIf="help_message.length>0"
                class="icon-button">help
      </mat-icon>

    </div>



  </div>


</div>

<div class="help-zone mat-elevation-z8" (click)="show_help=false" *ngIf="show_help">
  <mat-icon style="margin-right: 15px;">lightbulb</mat-icon>
  <div>{{help_message}}</div>
</div>

<img src="./assets/icons/target.png" class="target">
