

.target {
  position:fixed;
  display: block;
  z-index: 100;
  left:50%;
  top: 50%;
  width:40px;
  margin-top:-20px;
  margin-left:-20px;
}


.toolbox {
  display: inline-block;
  text-align:right;
  opacity:1;
  color: black;
  width:fit-content;
  max-width:600px;
  z-index: 1000;
  background: none;
  font-weight: bolder;
}

