.vignette {
  display: inline-block;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  text-align: center;
  background: #1b1b1b;
}

mat-icon {
  font-size: small;
  margin-bottom: -10px;
}
