<div style="width:100%;text-align: center;">
  <br><br>
  <img src="./assets/tokemon_logo.png"
       style="display:inline-block;max-width:800px;width:90%;margin: 7%;">
  <br>
  <h4 style="display: inline-block;width:60%;">{{message}}</h4>

  <br>
<!--  <button mat-raised-button (click)="login()">Login</button>-->
  <div style="position:absolute;display: block;bottom: 50px;text-align: center;width:100%;">

    <button mat-raised-button (click)="available_zone()">
      Continue
      <mat-icon>arrow_right</mat-icon>
    </button>

  </div>

</div>
