<div *ngIf="game" style="display: inline-block; ">
  <div *ngIf="game!.bank>0">bank: {{game!.bank/1e18}} LP</div>
  Max HP/user: {{game!.max_per_user}}
  <div *ngIf="game!.geoloc_to_catch">Geoloc to catch</div>
  <div *ngIf="game!.geoloc_to_drop">Geoloc to drop</div>
  <div *ngIf="game!.tokemon_view">Visibility by Tokemon</div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>Details</mat-expansion-panel-header>
    Visibility : {{game!.min_visibility/environment.scale_factor}} and {{game!.min_visibility/environment.scale_factor}}
  </mat-expansion-panel>
  <br>
  <ng-content></ng-content>
</div>
