
<mat-expansion-panel style="display:inline-block;max-width: 900px;width:100%;" [expanded]="expanded">
    <mat-expansion-panel-header>{{title}}</mat-expansion-panel-header>
    <div class="expansion-content-left">
        <div *ngFor="let property of properties" [style.max-width]="property.width || '350px'" >
            <app-input [label]="property.label"
                       [value]="property.value"
                       [icon_action]="property.icon_action || ''"
                       [options]="property.options || []"
                       [value_type]="property.type || 'text'"
                       [title]="property.help || ''"
                       [width]="property.width || 'auto'"
                       (action)="call_picture(property)"
                       (valueChange)="update_value(property,$event)">
            </app-input>
        </div>
    </div>

    <br>

    <div *ngIf="show_command_panel">
        <button mat-raised-button (click)="load_local()" style="font-size: small;">
            Charger une<br>configuration
        </button>

        <button mat-raised-button (click)="save_local()" style="font-size: small;">
            Enregistrer une<br>configuration
        </button>

        <button mat-raised-button

                (click)="open_test()" *ngIf="url.length>0" >
            Tester
        </button>

        <button mat-raised-button color="primary"
                (click)="share_url()" *ngIf="url.length>0">
            Partager
        </button>

    </div>
    <ng-content></ng-content>

</mat-expansion-panel>




