<div *ngIf="_type=='tips' && label!=''"
     style="max-width:800px;min-width:50px;width:100%;text-align:left;display:inline-block;margin-top:6px;margin-bottom:8px;"
     (click)="hideTuto()">
  <table>
    <tr>
      <td>
        <img *ngIf="image!.length>0"
             [src]="image"
             style="width:30px;height:30px;padding:3px;">

        <span *ngIf="icon!.length>0">
            <mat-icon [style.color]="color" style="margin:10px;">{{icon}}</mat-icon>
          </span>

        <div *ngIf="_button!.length>0">
          <button class="icon-button"
                  mat-icon-button
                  (click)="hideTuto()">
            <mat-icon style="margin:10px;">{{_button}}</mat-icon>
          </button>
        </div>
      </td>
      <td>
          <span [style.color]="color" class="mat-body-2" >
            {{label}}
          </span>
      </td>
      <td *ngIf="faq!.length>0" (click)="router.navigate(['faqs'],{queryParams:{open:faq}})">
        <mat-icon>help</mat-icon>
      </td>
    </tr>
  </table>
</div>

<!--Présentation en mode plein écran-->
<div *ngIf="_type=='title'" [style]="contentStyle">
  <div [style]="background_style" ></div>
  <div  *ngIf="_type=='title'" style="width:100%;height: 100%;text-align: center;position:fixed;display:block;left:0;top:0;z-index: 9000000;backdrop-filter: none;">

    <div style="margin: 10%;width:80%;margin-bottom:1%;display: inline-block;" [style.text-align]="text_align"
         [innerHTML]="title"
         [style.color]="color" class="mat-headline-5"></div>
    <br>

    <!--        Image situé au centre-->
    <img *ngIf="image!=''" [src]="image"
         style="margin:5%;max-height:200px;display:inline-block;">
    <br>

    <!--        Si pad d'image on créé un espace-->
    <div *ngIf="image!.length==0" style="margin-top:5%;"></div>

    <div [style]='{display:"inline-block",width:"90%","margin-left":"5%","margin-top":"5%","text-align":text_align,"font-size": "medium","margin-bottom": "5vh"}'
         [innerHTML]="subtitle"></div>

    <br>
    <div *ngIf="showButton"  style="position: absolute;left:0;bottom: 10%;width:100%;text-align: center;">
      <button mat-raised-button
              *ngIf="labelButton!=''"
              style="display: inline-block;"
              (click)="hideTuto()"
              id="btnStart">
        {{labelButton}}
      </button>

      <button mat-icon-button
              style="width:fit-content;height:fit-content;"
              *ngIf="labelButton==''"
              (click)="hideTuto()"
              id="btnStart2">
        <mat-icon [style.color]="color" style="width:fit-content;height:fit-content;opacity: 0.8;font-size: 70px !important;">arrow_circle_right</mat-icon>
      </button>
    </div>
  </div>

</div>



