<div class="mainform" style="text-align: center;width:100%;">

  <app-input value_type="boolean" [value]="user.expert_mode"
             style="display: inline-block;"
             (valueChange)="update_expert_mode($event)"
             label="Advanced mode"></app-input>
  <br>

  <app-input value_type="list" [options]="options" [value]="sel_network"
             style="display: inline-flex;width:200px;"
             (valueChange)="update_network($event)"></app-input>
  <br>

  <button mat-raised-button (click)="show_contract()" color="primary" *ngIf="user.expert_mode">
    Voir le SmartContract
  </button>
  <br><br>

  <mat-expansion-panel>
    <mat-expansion-panel-header>NFT dropped</mat-expansion-panel-header>
    <div *ngFor="let nft of nfts">
      - {{toText(nft.clan)}} - Position: {{nft.coords.lat}},{{nft.coords.long}} - Visibility: {{nft.visibility}}
    </div>
  </mat-expansion-panel>

</div>
