<div class="mainform" style="text-align: center;">
  <app-hourglass [message]="message"></app-hourglass>
    <app-wallet show="coin" [selected]="true"
                *ngIf="!sel_coin"
                style="display: inline-block;width:600px;"
                message="Select a coin to drop"
                (onCancel)="quit()"
                [address]="user.address"
                (selectChanged)="sel_coin=$event"></app-wallet>

    <br>

    <div [style.display]="!sel_coin || message.length>0 ? 'none' : 'inline-block'">
      <h4 *ngIf="sel_coin">AirDrop of {{sel_coin.name}}</h4>
      <app-input
        *ngIf="sel_coin"
        value_type="number" [value]="amount_to_drop"
        (valueChange)="update_value($event)"
        style="width:350px;display: inline-block;"
        [unity]="sel_coin.name"
        [min]="1" [max]="max_amount"
        label="Amount to drop">
      </app-input>

      <br>

      <div class="map_style" >
        <div id="map" style="position: absolute;left:0;top:0;right:0;bottom:0;z-index: 10;"></div>
        <div class="disk" [style.width]="visibility*ech+'px'"
             [style.height]="visibility*ech+'px'"
             [style.margin-top]="-visibility*ech/2+'px'"
             [style.margin-left]="-visibility*ech/2+'px'" >
        </div>
      </div>
      <br>

      <app-input value_type="slide" [min]="0" [max]="max_distance"
                 *ngIf="sel_coin"
                 label="Airdrop size" unity="meters"
                 (valueChange)="visibility=$event" [value]="visibility"></app-input>

      <br><br>

      <button *ngIf="sel_coin && amount_to_drop>0" mat-raised-button (click)="airdrop()">Drop !</button>

    </div>


</div>
