mat-slide-toggle {
  margin: 5px;
}



tr {
  margin: 5px;
}

table {
  margin: 10px;
}

button {
  width: 150px;
  margin: 3px;
}

mat-expansion-panel {
  width:94%;
  display: inline-block;
  font-size: small;
  text-align: left;
  max-width: 1000px;
  margin: 2%;
  margin-top: 5px;
  margin-bottom: 10px;
}

mat-expansion-panel-header {
  height: 55px !important;
  display: flex;
}


