<div class="mainform" style="text-align: center;">

  <h3 *ngIf="message==''">Select a world or create one on the {{user.get_network()}}</h3>


  <app-hourglass [message]="message">
  </app-hourglass>

  <div id="menu" style="margin:1%;display:inline-flex;justify-content: space-between;max-width:600px;width: 90%;flex-wrap: wrap;"
       *ngIf="message.length==0 && (games.length>0 || show_my_games)">
    <mat-slide-toggle [(ngModel)]="show_closed_games" (ngModelChange)="refresh()" *ngIf="level(2)">
      <div class="mat-slide-label">Include<br>closed world</div>
    </mat-slide-toggle>

    <mat-slide-toggle [(ngModel)]="show_my_games" (ngModelChange)="update_only_mygame()" title="Give the access to the command of the game master">
      <div class="mat-slide-label">Show only<br>my world</div>
    </mat-slide-toggle>

    <mat-slide-toggle [(ngModel)]="show_nearest_zone" (ngModelChange)="refresh()">
      <div class="mat-slide-label">Sort by<br>Nearest world</div>
    </mat-slide-toggle>

    <mat-slide-toggle [(ngModel)]="show_with_welcome_pack" (ngModelChange)="refresh()">
      <div class="mat-slide-label">Show only with<br>HP welcome pack</div>
    </mat-slide-toggle>
  </div>
  <br>

  <div style="max-width: 1200px;display: inline-block;">

    <mat-accordion *ngIf="message.length==0" style="max-width: 800px;">
      <mat-expansion-panel *ngFor="let game of games" [expanded]="games.length==1"
                           (afterExpand)="load_hp_stock_from_game(game)" class="game-panel">
        <mat-expansion-panel-header>
          <mat-icon *ngIf="!game.closed" (click)="select(game)"
                    title="Play to this game"
                    style="color:cyan;font-size: x-large;margin-bottom: 0;margin-right: 10px;"
                    class="clignotant">play_circle</mat-icon>

          <span style="font-family: 'Luckiest Guy', cursive;font-weight: lighter;font-size: x-large;">{{game.title}}</span>


          <mat-icon style="margin-left:5px;color:orangered;"
                    [title]="'you received '+game.welcome_pack+' HP if you enter in this game'"
                    *ngIf="game.welcome_pack>0">diamond_shine</mat-icon>

        </mat-expansion-panel-header>

        <app-game [game]="game" style="width:100%;">
          <div style="width: 200px;margin-left:10px;"
               *ngIf="user.isConnected(true) && game.owner==user.idx && !game.closed">
            <button mat-raised-button *ngIf="game.n_tokemons>0" title="Transfer all tokemon to the owner's wallet" (click)="transfer_to_owner(game)"><div class="blocbutton">Clean the<br>game</div></button><br>
            <button mat-raised-button *ngIf="game.n_tokemons==0" title="The game is not accessible, it must be empty (no tokemon)"
                    (click)="close_map(game)">Close the game</button><br>
            <button mat-raised-button *ngIf="level(2)" (click)="stacking(game)">AirDrop</button>
          </div>
        </app-game>
      </mat-expansion-panel>
    </mat-accordion>
  </div>


  <br><br>
  <button mat-raised-button (click)="create_game()">Create Game</button>

  <button mat-raised-button (click)="user.show_contract()" color="primary" *ngIf="user.ihm_level>1">
    Smart Contract
  </button>

  <button *ngIf="!user.isConnected()" mat-raised-button (click)="login()" color="primary">
    Login
  </button>

  <br><br>

  <div id="legende">
    <mat-icon style="color:orangered;margin-bottom: -10px;">diamond_shine</mat-icon> you receive some HP coin when you come in the game
  </div>


</div>
