<div class="mainform" style="text-align: center;">
  <table style="width: 100%;">
    <tr style="width:100%" *ngFor="let game of games">
      <td style="text-align: left;">
        <app-game [game]="game">
          <mat-expansion-panel *ngIf="game.owner==user.idx && !game.closed">
            <mat-expansion-panel-header>Commandes</mat-expansion-panel-header>
            <button mat-raised-button (click)="close_map(game)">Close</button>
            <button mat-raised-button (click)="stacking(game)">AirDrop</button>
          </mat-expansion-panel>

        </app-game>

      </td>
      <td style="width:60%;" [style.opacity]="game.closed ? 0.5 : 1.0">
        <button mat-raised-button (click)="see_map(game)">Map</button>
        <button mat-raised-button *ngIf="!game.closed" (click)="select(game)">Select</button>
       <mat-icon (click)="share_map(game)" class="icon-button">share</mat-icon>

      </td>
    </tr>
  </table>

  <br><br>
  <button mat-raised-button (click)="create_game()">Create Game</button>

</div>
