mat-slide-toggle {
  margin: 5px;
}

tr {
  margin: 5px;
}

table {
  margin: 10px;
}

mat-expansion-panel {
  width:94%;
  padding: 10px;
  margin: 3%;
  margin-top: 5px;
  margin-bottom: 10px;
}

mat-expansion-panel-header {
  font-size: xx-large;
}
