<div style="width:100%;text-align: center">
  <h5>{{message}}</h5>

  <div style="display: inline-block;width: 90%;">
    <table>
      <tr *ngFor="let k of tokens">
        <td style="text-align: right;">
          <button *ngIf="selected"  mat-icon-button (click)="select_esdt(user.tokens[k])">
            <mat-icon>arrow_right</mat-icon>
          </button>
        </td>
        <td style="text-align: left;">
          {{user.tokens[k].name}}
        </td>
        <td style="text-align: right;width:50%;">{{user.tokens[k].balance/1e18 | number:"1.0-4"}}</td>
      </tr>
    </table>
  </div>

  <br>

  <div *ngIf="show.indexOf('nft')>-1">
    <app-tokemon *ngFor="let nft of nfts"  [item]="nft"
                 [size]="size"
                 (select)="select(nft)">
    </app-tokemon>

    <div *ngIf="nfts.length==0">
      You don't have any NFT. Buy or create NFT
      <a [href]="nft_market" target="nft">here</a>
    </div>
  </div>



</div>
