<div *ngIf="message!=''" style="text-align: center;width: 100vw;">
  <br>
  <app-hourglass [message]="message"></app-hourglass>
  <br>
  <app-tuto label="Define your gaming zone with the map"></app-tuto>
  <br>
  <img src="https://tokemon.f80.fr/assets/under_construction.png"
       style="width:50%;max-width: 300px;">

  <br><br>

  <button mat-raised-button
          *ngIf="message!='' && device.isMobile()"
          (click)="open_xportal()">
    Basculer sur xPortal
  </button>

</div>


<div class="mainform" style="text-align: center;">


  <div *ngIf="message=='' && !created_game">


    <table><tr style="width: 100%;">
      <td style="text-align: right;width:55%;">
        <app-input label="Game title" value_type="text"
                   style="display: inline-block;max-width:200px;width:100%;"
                   [value]="title" (valueChange)="title=$event"></app-input>
      </td>
      <td style="text-align: left;">
        <button *ngIf="message.length==0 && title!=''" mat-raised-button style="margin-top: -20px;font-size: small;" (click)="create_game()">
          <mat-icon>build</mat-icon>
          Build your world
        </button>
      </td>
    </tr></table>

    <div class="map_style" style="pointer-events: all;margin-top:-15px;">
      <div id="map" class="map_style" style="pointer-events: all;"
           title="Game zone to play"
           [style.cursor]="to_add.length>0 ? 'crosshair' : 'pointer'" ></div>
      <mat-icon  (click)="recenter()"
                 title="Geoloc"
                 style="position: absolute;right: 5px;top: 12px;display: block;z-index: 10;"
                 class="icon-button">
        pin_drop
      </mat-icon>
    </div>

    <br>


    <div style="max-width: 800px;display: inline-block;text-align: center;width:90%;margin-top: -10px;" *ngIf="zone">

      <div *ngIf="!real">
        <app-input label="Grid Size" help="" value_type="number" [value]="grid" (valueChange)="grid=$event"></app-input><br>
        <app-input label="Localisation de la carte" help="" value_type="text" [value]="zone.url" (valueChange)="zone.url=$event"></app-input><br>
      </div>

      <!--            <table>&ndash;&gt;-->
      <!--          <tr>-->
      <!--            <td>Limits</td>-->
      <!--            <td>-->
      <!--              {{zone.NE.lat | number:"1.0-3"}},{{zone.NE.lng | number:"1.0-3"}} - -->
      <!--              {{zone.SW.lat | number:"1.0-3"}},{{zone.SW.lng | number:"1.0-3"}}-->
      <!--            </td>-->
      <!--          </tr>-->
      <!--        </table>-->
      <br>
      <mat-accordion>
        <mat-expansion-panel class="panel">
          <mat-expansion-panel-header>Game settings</mat-expansion-panel-header>
          <mat-slide-toggle [(ngModel)]="geoloc_to_drop" title="Player can drop tokemon only at real location">Geoloc to drop</mat-slide-toggle>
          <mat-slide-toggle [(ngModel)]="geoloc_to_catch" title="Player can catch tokemon around their real location">Geoloc to catch</mat-slide-toggle>
          <mat-slide-toggle [(ngModel)]="tokemon_vision" title="Only your tokemons on the game can see other tokemons">Vision by tokemon</mat-slide-toggle>
          <br>
          <app-input label="Maximum players in the game" help="" value_type="number" [value]="max_player" (valueChange)="max_player=$event"></app-input>
          <app-input label="Maximum distance to move" help="" value_type="number" [value]="max_distance" (valueChange)="max_distance=$event"></app-input>


          <app-input label="Mininimum visibility" help="" value_type="number" [value]="min_visibility" (valueChange)="min_visibility=$event"></app-input>
          <app-input label="Maximum visibility" help="" value_type="number" [value]="max_visibility" (valueChange)="max_visibility=$event"></app-input>



          <!--      <app-input label="Available direction" help="" value_type="number" [value]="n_degrees" (valueChange)="n_degrees=$event"></app-input>-->
          <app-input label="Maximum loading charge" help="" value_type="number" [value]="max_pv" (valueChange)="max_pv=$event" unity="HP"></app-input>


        </mat-expansion-panel>


        <br>
        <mat-expansion-panel class="panel">
          <mat-expansion-panel-header>Advanced</mat-expansion-panel-header>


          <button mat-raised-button (click)="to_add='entrance'"
                  title="Tokemon must be drop in this place"
                  *ngIf="zone.entrance && zone.entrance.x==0">
            Add entrance
          </button>

          <button mat-raised-button
                  *ngIf="zone && zone.entrance && (zone.entrance!.x!=0 || zone.entrance!.y!=0)" (click)="remove_entrance()">
            Remove Entrance
          </button>

          &nbsp;
          <button mat-raised-button (click)="to_add='exit'"
                  title="Tokemon must be catch in this place"
                  *ngIf="zone.exit && zone.exit.x==0">
            Add exit
          </button>

          <button mat-raised-button
                  *ngIf="zone && zone.exit && (zone.exit!.x!=0 || zone.exit!.y!=0)" (click)="remove_exit()">
            Remove Exit
          </button>
          <br>
          <br>



          <mat-slide-toggle [(ngModel)]="user_visibility">User set visibility</mat-slide-toggle><br>

          <app-input label="Quota" help="" value_type="number" [value]="quota" (valueChange)="quota=$event"></app-input>
          <app-input label="Turns" help="" value_type="number" [value]="turns" (valueChange)="turns=$event"></app-input>

          <app-input label="Minimum loading charge" help="" value_type="number" [value]="min_pv" (valueChange)="min_pv=$event" unity="HP"></app-input>


          <app-input label="Max tokemons per user" help="" value_type="number" [value]="max_per_user" (valueChange)="max_per_user=$event"></app-input>
          <app-input label="Cost to move" help=""
                     unity="HP/km"
                     value_type="number" [value]="cost_to_move" (valueChange)="cost_to_move=$event"></app-input>

          <app-input label="Cost to fight" help="For each fight, tokemon loose some HP"
                     unity="HP"
                     value_type="number" [value]="cost_to_fight" (valueChange)="cost_to_fight=$event"></app-input>

          <app-input label="Min distance to move"
                     help="HP reduce by this value for each move"
                     value_type="number" [value]="min_distance" (valueChange)="min_distance=$event"></app-input>

          <app-input label="Min distance for GPS location"
                     help="If the GPS accuracy is under this distance, no tokemon are visible"
                     value_type="number" [value]="min_distance_for_gps" (valueChange)="min_distance_for_gps=$event"></app-input>
          <br>
          <app-input label="Initial HP for stacking"
                     style="width:90%;max-width: 100%;" value_type="slider"
                     [min]="0" [max]="Math.min(hp_balance,100000)"
                     [value]="lifepoint" (valueChange)="lifepoint=$event"></app-input>


          <!--      <mat-tab-group>-->
          <!--        <mat-tab label="YAML">-->
          <!--          <div class="code_yaml" [innerHTML]="yaml_content">-->
          <!--          </div>-->
          <!--          <br>-->
          <!--          <button mat-raised-button (click)="copy(yaml_content)">Copy YAML</button>-->

          <!--        </mat-tab>-->
          <!--        <mat-tab label="Command line">-->
          <!--          <div class="code_yaml" [innerHTML]="script_content">-->
          <!--          </div>-->
          <!--          <br>-->
          <!--          <button mat-raised-button (click)="copy(script_content)">Copy Script</button>-->

          <!--        </mat-tab>-->
          <!--      </mat-tab-group>-->


        </mat-expansion-panel>
      </mat-accordion>

    </div>

  </div>

  <div *ngIf="created_game">
    <h4>Your game zone is available</h4>
    <button mat-raised-button (click)="enter_game()">
      <mat-icon>play_circle</mat-icon>
      Enter !
    </button>

    <br><br>
    You can invite people to play<br>
    <br>
    <img [src]="qrcode" *ngIf="qrcode.length>0" style="width: 200px;height:200px;">

    <button mat-raised-button (click)="share()">
      <mat-icon>share</mat-icon>
      Invite players
    </button>
    &nbsp;

  </div>

  <br>
  <button mat-raised-button *ngIf="!created_game" (click)="quit(null)">Cancel</button>

</div>
