<app-hourglass [message]="message"></app-hourglass>

<div *ngIf="message==''" class="mainform" style="text-align: center;">
  <h6>Game Zone</h6>


  <div id="map" class="map_style" style="pointer-events: all;" ></div>

  <br>
  <div *ngIf="show_menu" style="height: 50px">
    <button mat-raised-button (click)="drop_pt('entrance')">Entrance</button>
    <button mat-raised-button (click)="drop_pt('exit')">Exit</button>
  </div>
  <br>

  <table><tr style="width: 100%;">
    <td style="text-align: right;width:50%;">
      <app-input label="Game's title" value_type="text" style="display: inline-block;"
                 [value]="title" (valueChange)="title=$event"></app-input>
    </td>
    <td style="text-align: left;">
      <button *ngIf="message.length==0" mat-raised-button style="margin-top: -20px;" (click)="create_game()">Build</button>
    </td>
  </tr></table>

  <br><br>

  <div style="max-width: 800px;display: inline-block;text-align: center;width:90%;margin-top: -50px;" *ngIf="zone">

    <div *ngIf="!real">
      <app-input label="Grid Size" help="" value_type="number" [value]="grid" (valueChange)="grid=$event"></app-input><br>
      <app-input label="Localisation de la carte" help="" value_type="text" [value]="zone.url" (valueChange)="zone.url=$event"></app-input><br>
    </div>

    <!--            <table>&ndash;&gt;-->
    <!--          <tr>-->
    <!--            <td>Limits</td>-->
    <!--            <td>-->
    <!--              {{zone.NE.lat | number:"1.0-3"}},{{zone.NE.lng | number:"1.0-3"}} - -->
    <!--              {{zone.SW.lat | number:"1.0-3"}},{{zone.SW.lng | number:"1.0-3"}}-->
    <!--            </td>-->
    <!--          </tr>-->
    <!--        </table>-->
    <br>
    <mat-expansion-panel class="panel">
      <mat-expansion-panel-header>Game settings</mat-expansion-panel-header>
      <app-input label="PV bank" help="" style="width:90%;" value_type="slider" [min]="1" [max]="1000" [value]="lifepoint" (valueChange)="lifepoint=$event"></app-input>
      <app-input label="Quota" help="" value_type="number" [value]="quota" (valueChange)="quota=$event"></app-input>
      <app-input label="Max players" help="" value_type="number" [value]="max_player" (valueChange)="max_player=$event"></app-input>
      <app-input label="Turns" help="" value_type="number" [value]="turns" (valueChange)="turns=$event"></app-input>
      <app-input label="Min visibility" help="" value_type="number" [value]="zone.min_visibility" (valueChange)="zone.min_visibility=$event"></app-input>
      <app-input label="Max visibility" help="" value_type="number" [value]="zone.max_visibility" (valueChange)="zone.max_visibility=$event"></app-input>
    </mat-expansion-panel>


    <br>
    <mat-expansion-panel class="panel">
      <mat-expansion-panel-header>Advanced</mat-expansion-panel-header>
      <app-input label="Real map" help="" value_type="boolean" [value]="real" (valueChange)="real=$event"></app-input><br>
      <mat-tab-group>
        <mat-tab label="YAML">
          <div class="code_yaml" [innerHTML]="yaml_content">
          </div>
          <br>
          <button mat-raised-button (click)="copy(yaml_content)">Copy YAML</button>

        </mat-tab>
        <mat-tab label="Command line">
          <div class="code_yaml" [innerHTML]="script_content">
          </div>
          <br>
          <button mat-raised-button (click)="copy(script_content)">Copy Script</button>

        </mat-tab>
      </mat-tab-group>


    </mat-expansion-panel>


  </div>


</div>

