table,tr {
  width: 100%;
  padding: 10px;
}

td {
  text-align: center;
}

.code_yaml {
  width: 800px;
  height:300px;
  margin: 20px;
  padding: 10px;
  border-color: white;
  background-color: #131313;
  border-color: gray;
  font-size: small;
  font-family: "Courier New", serif;
  color:greenyellow;
  text-align: left;
  display: inline-block;
}
