<div class="mainform">
  <div style="max-width: 1000px;display: inline-block;text-align: center;width:90%;">
    <app-input label="Fee" help="" value_type="number" [value]="fee" (valueChange)="fee=$event"></app-input><br>
    <app-input label="Quota" help="" value_type="number" [value]="quota" (valueChange)="quota=$event"></app-input><br>

    <mat-tab-group>
      <mat-tab label="Real">
        <table>
          <tr>
            <td>Limits</td>
            <td>
              {{zone.NE.lat | number:"1.0-3"}},{{zone.NE.lng | number:"1.0-3"}} -
              {{zone.SW.lat | number:"1.0-3"}},{{zone.SW.lng | number:"1.0-3"}}
            </td>
          </tr>
        </table>
      </mat-tab>
      <mat-tab label="Virtual">

        <app-input label="Grid Size" help="" value_type="number" [value]="grid" (valueChange)="grid=$event"></app-input><br>

      </mat-tab>
    </mat-tab-group>


    <div class="code_yaml">
      {{yaml_content}}
    </div>

  </div>


</div>

