/* You can add global styles to this file, and also import other style files */
//@import '~ngx-sharebuttons/themes/circles';
@use '@angular/material' as mat;
@include mat.core();
@import "nfluent";

$theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$blue-palette,
  ),
  typography: (
    brand-family: 'Comic Sans',
    bold-weight: 900
  ),
  density: (
    scale: -1
  )
));


html {
  @include mat.core-theme($theme);
  @include mat.button-theme($theme);
}


a:link { text-decoration: none;color: gray;  }
a:visited { text-decoration: none;color: gray;  }
a:hover { text-decoration: none; color: lightgray; }
a:active { text-decoration: none; color: gray; }

body, html {
  background-color: #1d1d1d;
  color: white;
  overflow: scroll;
  scrollbar-width: none;
}


.blocbutton {
  line-height: 85%;
}

.mainform {
  padding: 0.2%;
  background-size: cover;
  text-align: center;
  width:100%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.form-title {
  font-size: medium;
}

.greylabel {
  font-size: small;
  opacity: 0.5;
  line-height: 85%;
  font-weight: lighter;
}

.color-primary {
  color: #03ff00;
}

.prompt {
  font-style: italic;
  opacity: 0.6;
  margin: 3px;
  margin-top:15px;
}

.data-table {
  display: inline-block;
  line-height: 90%;
  font-size: small;
  border-spacing: 5px;
  margin: 10px;
  text-align: left;
}


button {
  margin: 15px
}



.vignette {
  position: relative;
  max-width: 250px;
  max-height: 250px;
  width: 50%;
  cursor: pointer;
  margin: 10px;
}



.vignette-zone {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width:100%;
}
