@use '@angular/material' as mat;
@import "@angular/material/prebuilt-themes/cyan-orange.css";
@include mat.core();

$theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$violet-palette,
  ),
  typography: (
    brand-family: 'Comic Sans',
    bold-weight: 900
  ),
  density: (
    scale: -1
  )
));

app-input {
  margin: 20px;
  display:inline-block;
}

a:link { text-decoration: none;color: gray;  }
a:visited { text-decoration: none;color: gray;  }
a:hover { text-decoration: none; color: lightgray; }
a:active { text-decoration: none; color: gray; }


.icon-button {
  border-radius: 40%;
  cursor:pointer;
  margin:4px;
  padding: 6px;
  margin-bottom:-14px;
  background-color: #121212;
  font-size:x-large;
  color: #23aca7;
}



.map_style {
  display: inline-block;
  position:relative;
  z-index: 0;
  width:300px;
  height:300px;
  pointer-events: none;
  overflow: hidden;
  margin: 10px;
}


.vignette {
  position: relative;
  max-width: 250px;
  max-height: 250px;
  width: 50%;
  cursor: pointer;
  margin: 10px;
}

.panel {
  margin: 10px;
}

.blocbutton {
  line-height: 85%;
}


.greylabel {
  font-size: small;
  opacity: 0.5;
  line-height: 85%;
  font-weight: lighter;
}

.data-table {
  display: inline-block;
  line-height: 90%;
  font-size: small;
  border-spacing: 5px;
  margin: 10px;
  text-align: left;
}

.mainform {
  padding: 0.2%;
  background-color: black;
  background-size: cover;
  text-align: center;
  width:100%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.vignette-zone {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width:100%;
}

.disk {
  background-color: #535353; /* Set the color of the disk */
  opacity: 0.2;
  border-radius: 50%; /* Make it a circle */
  z-index: 100;
  left:50%;
  top: 50%;
  /*transform: translate(30px,37px);*/
  position:absolute;
  display: block;
}

