mat-expansion-panel {
  max-width: 1200px;
  width: 96%;
  display: inline-block;
  margin: 2%;
  margin-left: -20px;
  font-size: small;
}

table {
  text-align: center;
  width:100%;
  font-size: small;
}


