<app-hourglass [message]="message"></app-hourglass>
<div class="mainform" style="text-align: center;" *ngIf="message==''">

  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>My Wallet</mat-expansion-panel-header>
      <app-wallet [user]="user"
                  show="coin,nft"
                  [strong_token]="user.pv_token"
                  (selectChanged)="on_select($event)">
      </app-wallet>
    </mat-expansion-panel>

    <mat-expansion-panel (expandedChange)="on_open_tokemon_engaged()">
      <mat-expansion-panel-header>My tokemons engaged</mat-expansion-panel-header>
      <br>
      <button mat-raised-button (click)="user.show_contract()" color="primary" *ngIf="user.expert_mode">
        Smart Contract
      </button>

      <table>
        <tr>
          <th>Visual</th>
          <th>Game</th>
          <th>Names<br>(Tokemon/NFT)</th>
          <th>Visibility</th>
          <th>Health Point (HP)</th>
        </tr>
        <tr *ngFor="let tokemon of tokemons" style="width: 100%;">
          <td><img [src]="tokemon.content.url" style="width: 70px"></td>
          <td title="Open the game of your tokemon"
              style="cursor: pointer" (click)="open_game(tokemon)">{{games[Number(tokemon.game)-1].title}}</td>
          <td>{{tokemon.name}} / {{tokemon.content.name}}</td>
          <td>{{tokemon.visibility/environment.scale_factor}} m</td>
          <td>
            {{tokemon.pv}} HP
            <button mat-raised-button (click)="open_reload(tokemon,user.pv_token)"
                    title="Add HP to your tokemon"
                    *ngIf="max_pv_loading>0">
              Revitalize
            </button>

            <button mat-raised-button (click)="open_reload(tokemon,null)"
                    title="Add some token to the bag of your tokemon">
              Loading
            </button>

          </td>
        </tr>
      </table>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>GPS accuracy</mat-expansion-panel-header>
      <button mat-raised-button (click)="run_gps()">Test</button>
      <br>
      {{user.accuracy | number:'1.0-0'}} meters
    </mat-expansion-panel>

  </mat-accordion>


</div>
